{% if session['type']=="usuario" %}
    {%extends "layoutusuario.html"%}
{% elif session['type']=="adminsitrador" %}
    {%extends "layoutadmin.html"%}
{% else %}
{%extends "layout.html" %}
{% endif %}
{% block titulo1 %}
Añadir Pagina web
{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/@jarstone/dselect/dist/css/dselect.css">
<script src="https://unpkg.com/@jarstone/dselect/dist/js/dselect.js"></script>
<h1>Agregar una nueva pagina web</h1>

{% from "_macro.html" import renderfield %}
<div class="container pt-3 my-3"> 

<div class="p-3 mb-2 bg-secondary text-white">
   <p>Agregar reglas para obtener las noticias de portada de paginas webs</p>
   <form name="enviarurl" id="formpagina" method="post" action="{{url_for('añadirportada')}}" >
      <input type="url" name="urlpaginanoticia" required style="width: 100%; margin: 2px">
      <button type="submit" class="btn btn-primary" id="btnaddurl">Añadir Url</button>
   </form>
</div>

<div class="p-3 mb-2 bg-secondary text-white">
   <p>Añadir una nueva url categorica</p>
   <form name="enviarurl" id="formpagina" method="post" action="{{url_for('reglascategoria')}}" >
      <input type="url" name="urlcategoria" required style="width: 100%; margin: 2px"> 
      <select id="cat1" name="categoria" name="select_box" class="form-select">
         <option value="">Selecciona una categoria</option>
         {% for categoria in listacategorias %}
         <option value="{{categoria['_id']}}" data-tokens="{{categoria['cat']}}">{{categoria['cat']}}</option>
         {% endfor%}
     </select>
      <button type="submit" class="btn btn-primary" id="btnaddurl">Añadir Url</button>
   </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
function loadingalert(id){
   var texto='</div  class="alert alert-primary" id="loading" role="alert"><div class="hidden" id="loading"><div class="d-flex justify-content-center"><P>Cargando...</P><div class="spinner-border" role="status"><span class="sr-only"></span></div></div></div></div>';
   $(id).after(texto);
}
function creartablas(id,listaelementos){
   $(id).after('<p id="Agregue">Elimine las categorias en las cuales no esté interezado</p>');
   $("p#Agregue").after('<div id="tabla" class="scroll"> <table id="tablasuburls" border="1"></table> </div>');
   $(id).after('<input type="hidden" id="cont" name="numurls" value="'+listaelementos.length+'">');
   for(var i=0; i<listaelementos.length; i++){
     
      $("div#tabla #tablasuburls").append('<tr id="fila'+i+'"><td><input type="text" class="form-control" style="width: 500px;" value="'+listaelementos[i]+'"></td> <td><a href="'+listaelementos[i]+'" class="btn btn-secondary btn-sm" target="_blank" rel="noopener noreferrer">Ver Pagina</a></td> <td><button id="btn'+i+'" class="btn btn-primary btn-sm" type="button" onclick="eliminarFila('+i+')" value="Eliminar">Eliminar</button></td></tr>');
   }
   $("div#tabla").after('<a href="/prueba" id="inspeccionarsubdominio" rel="modal:open">example</a>');
   $("button#inspeccionarsubdominio").after('#myModaldiv');
   $.post("/prueba", function(data){
    $("#myModalDiv").html(data).fadeIn();
   });
  
}
function eliminarFila(index) {
   //eliminamos sub urls y actualizamos elementos
    var contador=document.getElementById("cont");
    
 
    var valor="fila"+index;
   
    $("#fila" + index).remove();
    for(var i=parseInt(index); i<parseInt(contador.value); i++){
      var j=i+1;
      var idanterior="fila"+j;
      var idnuevo="fila"+i;
      var nuevoclick="eliminarFila('"+i+"');";
      console.log(nuevoclick);
      var input=document.getElementById(idanterior);
      var entrada=document.getElementById("entrada"+j);
      entrada.setAttribute("name","campo"+i);
      entrada.id="entrada"+i
      var boton=document.getElementById("btn"+j);
      boton.setAttribute("onclick",nuevoclick);
      boton.id="btn"+i;
      input.id=idnuevo; 
    }
    //console.log(contador.value)
    var numel=parseInt(contador.getAttribute('value'))-1;
    contador.setAttribute("value",numel)
    contador.setAttribute("value",numel)
  }
/*$(document).ready(function(){


function ajaxenviarurlprincipal(){
$("p#Agregue").remove();
$("div#tabla").remove();
$("input#btnform2").remove();
$("input#cont").remove();
 loadingalert("#btnaddurl");
   $.ajax({
      url: 'ajaxpaginanoticia',
      data: $('form').serialize(),
      type: 'POST',
      
      success: function(response){
         $('#loading').remove();
         var pagina=JSON.parse(response);

         var urls=pagina.urlssec;
         creartablas("#btnaddurl",urls)
        
      },

      error: function(error){
         console.error(error);
         $('#loading').remove();
         alert("Ocurrio un problema");
      }
   })
}
$("#formpagina").submit(function(event){
   event.preventDefault();
   ajaxenviarurlprincipal();
});


});*/
function ajaxagregarcategoria(){
      var nomcategoria=document.getElementById("inputcategoria")
      console.log(nomcategoria.value)
      $.ajax({
        url:'/ajaxañadircategoria',
        data: {categoria:nomcategoria.value},
        type: 'POST',
        
        success: function(response){
            respuesta=JSON.parse(response)
            console.log(respuesta)
            $("select").append('<option value="'+respuesta["id"]+'">'+nomcategoria.value+'</option>')
            $(".dselect-items").append('<button class="dropdown-item" data-dselect-value="'+respuesta["id"]+'" type="button" onclick="dselectUpdate(this, \'dselect-wrapper\', \'form-select\')">'+nomcategoria.value+'</button>')
            nomcategoria.value=""
            alert("Categoria añadida exitosamente")
        },
      
        error: function(error){
            console.log(error)
        }
    });
  }

  var select_box_element = document.querySelector('#cat1');
        dselect(select_box_element, {
            search: true
        });

        function optimizarxpath2(xpath){
            xparray=xpath.split("/")
            xpdevolver="/"+xparray[xparray.length-1]
            consultaoriginal=getElementsByXPath2(xpath);
            añadirguion=false;
            for(var i=xparray.length-2; i>1; i--){
                nodo=xparray[i]
                nombrenodo=nodo.replaceAll(/ *\[[^)]*\] */g, "");
                xpincompleto=""
                for(var j=1; j<i; j++){
                    if(!(xparray[j]=="" && j==i-1)){
                        xpincompleto=xpincompleto+"/"+xparray[j]
    
                    }
                    
                }
                if(xpincompleto!="/"){
                    xpincompleto=xpincompleto+"/"
                }
                
                console.log("xpi: "+xpincompleto)
                console.log("xpd: "+xpdevolver)
                xpathprueba=xpincompleto+xpdevolver
                console.log("xpprueba: "+xpathprueba)
                consultaaux=getElementsByXPath2(xpathprueba);
                if(nodo!=""){
                    if(!compararelementosxp(consultaoriginal,consultaaux)){
                        if(añadirguion){
                            nombrenodo=nombrenodo+"/"
                            nodo=nodo+"/"
                            añadirguion=false
                        }
        
                        xpdevolveraux="/"+nombrenodo+xpdevolver
                        xpathprueba=xpincompleto+xpdevolveraux
                        consultaaux=getElementsByXPath2(xpathprueba);
                        console.log()
                        if(!compararelementosxp(consultaoriginal,consultaaux)){
                            xpdevolver="/"+nodo+xpdevolver
                            console.log("xpdevolveraux "+xpdevolveraux)
                            console.log("detencion3"+xpathprueba)
                        }else{
                            xpdevolver=xpdevolveraux
                            console.log("detencion2"+xpathprueba)
                        }
                    }else{
                        console.log("detencion1")
                        //xpdevolver="/"+xpdevolver
                        añadirguion=true;
                    }   
                }
    
                    
            }
            xpdevolver="/"+xpdevolver
            return xpdevolver
        }
function getElementsByXPath2(xpath, parent){
    let results = [];
    let query = document.evaluate(xpath, parent || document,null, XPathResult.ORDERED_NODE_SNAPSHOT_TYPE, null);
    for (let i = 0, length = query.snapshotLength; i < length; ++i) {
        results.push(query.snapshotItem(i));
    }
    return results;
}
</script>

{% endblock %}