{% if session['type']=="usuario" %}
    {%extends "layoutusuario.html"%}
{% elif session['type']=="adminsitrador" %}
    {%extends "layoutadmin.html"%}
{% elif session['type']=="admingen" %}
    {%extends "layoutadmingen.html"%}
{% else %}
{%extends "layout.html" %}
{% endif %}
{% block titulo1 %}
Pagina principal
{% endblock %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <div id="register">
        <div class="container">
            <div id="register-row" class="row justify-content-center align-items-center">
                <div id="register-column" class="col-md-6">
                    <div id="register-box" class="col-md-12">
                        <form id="cambiarpass-form" class="form" method="post" action="{{url_for('cambiarcontraseña')}}" >
                            <input type="hidden" name="nusuario" id="nusuario" value="{{session['user']}}">
                            <h3 class="text-center text-info">Cambiar contraseña</h3>
                            <div class="form-group">
                                <label for="inputPassword" class="text-info">Contraseña actual:</label><br>
                                <input type="password"   name="passwordactual" id="passwordactual" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="text-info">Contraseña Nueva:</label><br>
                                <input type="password"   name="password" id="password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="text-info">Vuelva a escribir su nueva contraseña:</label><br>
                                <input type="password" name="confirm_password" id="confirm_password" class="form-control" required>
                            </div>
                            
                            <div class="form-group">
                                <input type="submit" class="btn btn-info btn-md" value="Cambiar contraseña">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");
        var passwordac=document.getElementById("passwordactual");
        function validatePassword(){
          console.log("Cambiando contraseña");
          if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Las contraseñas no coinciden");
          } else {
            confirm_password.setCustomValidity('');
          }
        }
        function contraseñacorrecta(){
            
            var form=jQuery("#cambiarpass-form");
            jQuery.ajax({
                url:'/ajaxcoincidencontraseñas',
                data: {contraseña:passwordac.value,
                    usuario:"{{session['user']}}"},
                type: 'POST',
                success: function(response){
                    resp=JSON.parse(response)
                    console.log(resp)
                    if(resp["respuesta"]=="true"){
                        passwordac.setCustomValidity("")
                    }else{
                        passwordac.setCustomValidity("Contraseña incorrecta")
                    }

                },
                error: function(error){
                    console.log(error)
                    passwordac.setCustomValidity("Ocurrio un problema")
                }
            })            
        }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword; 
    passwordac.onkeyup=contraseñacorrecta;

        </script>
{% endblock %}

