

{{texto|safe}}

<div class="xpathmenu" marcar="nopintar" id="xpathmenu">
    <div class="selector" marcar="nopintar"></div> 
    <form name="enviarurl" id="formlista" method="post" action="{{url_for('subirpagina')}}">
        <input type="hidden" name="tiporeglaexterna" value="{{tipo}}">
        <input type="hidden" name="datosreglaexterna" value="{{jsonp1}}">
        <input type="hidden" name="urlexterna" value="{{urlext}}">
        <input type="hidden" name="categoria" value="{{categoria}}">
        {% if listareglas|length > 0 %}
        <select marcar="nopintar" id="selregla" name="reglaseleccionada">
            <option marcar="nopintar" value="ninguno" xptitu="" xpres="" xpimg="" xpdesimg="" xpred="" xpfecha="" xparr="" xphas="" >Regla sin seleccionar</option>
            {% for regla in listareglas %}
            <option marcar="nopintar" value="{{regla['_id']}}" xptitu="{{regla['xptitular']}}" xpres="{{regla['xpresumen']}}" xpimg="{{regla['xpimg']}}" xpdesimg="{{regla['xpdesimg']}}" xpred="{{regla['xpredactor']}}" xpfecha="{{regla['xpfecha']}}" xparr="{{regla['xpparrafos']}}" xphas="{{regla['xphashtags']}}" >
                Regla {{loop.index}}
            </option>
            {% endfor %}
        </select>
        {%endif%}
        <table marcar="nopintar" width="100%">
            <tbody marcar="nopintar">
                <tr marcar="nopintar">
                    <td marcar="nopintar">Titular de la noticia</td>
                    <td marcar="nopintar"><button type="button" onclick="seleccionarcampo(1)" id="pintartag1" marcar="nopintar">Seleccionar</button></td>
                    <td marcar="nopintar"> <input type="text" marcar="nopintar" id="input1" onkeyup="pintarelemento(1)" name="input1"></td>
                    <td marcar="nopintar"><div id="datos1" class="datosxpath"></div></div></td>
                </tr>
                <tr marcar="nopintar">
                    <td marcar="nopintar">Resumen de la Noticia</td>
                    <td marcar="nopintar"><button type="button" onclick="seleccionarcampo(2)" id="pintartag2" marcar="nopintar">Seleccionar</button></td>
                    <td marcar="nopintar"> <input type="text" marcar="nopintar" id="input2" onkeyup="pintarelemento(2)" name="input2"></td>
                    <td marcar="nopintar"><div id="datos2" class="datosxpath"></div></div></td>
                </tr>
                <tr marcar="nopintar">
                    <td marcar="nopintar">Imagen de la noticia</td>
                    <td marcar="nopintar"><button type="button" onclick="seleccionarcampo(3)" id="pintartag3" marcar="nopintar">Seleccionar</button></td>
                    <td marcar="nopintar"> <input type="text" marcar="nopintar" id="input3" onkeyup="pintarelemento(3)" name="input3"></td>
                    <td marcar="nopintar"><div id="datos3" class="datosxpath"></div></div></td>
                </tr>
                <tr marcar="nopintar">
                    <td marcar="nopintar">Descripción de la imagen</td>
                    <td marcar="nopintar"><button type="button" onclick="seleccionarcampo(4)" id="pintartag4" marcar="nopintar">Seleccionar</button></td>
                    <td marcar="nopintar"> <input type="text" marcar="nopintar" id="input4" onkeyup="pintarelemento(4)" name="input4"></td>
                    <td marcar="nopintar"><div id="datos4" class="datosxpath"></div></div></td>
                </tr>
                <tr marcar="nopintar">
                    <td marcar="nopintar">Redactor de la noticia</td>
                    <td marcar="nopintar"><button type="button" onclick="seleccionarcampo(5)" id="pintartag5" marcar="nopintar">Seleccionar</button></td>
                    <td marcar="nopintar"> <input type="text" marcar="nopintar" id="input5" onkeyup="pintarelemento(5)" name="input5"></td>
                    <td marcar="nopintar"><div id="datos5" class="datosxpath"></div></div></td>
                </tr>
                <tr marcar="nopintar">
                    <td marcar="nopintar">Fecha y hora de la noticia</td>
                    <td marcar="nopintar"><button type="button" onclick="seleccionarcampo(6)" id="pintartag6" marcar="nopintar">Seleccionar</button></td>
                    <td marcar="nopintar"> <input type="text" marcar="nopintar" id="input6" onkeyup="pintarelemento(6)" name="input6"></td>
                    <td marcar="nopintar"><div id="datos6" class="datosxpath"></div></div></td>
                </tr>
                <tr marcar="nopintar">
                    <td marcar="nopintar">Parrafos de la noticia</td>
                    <td marcar="nopintar"><button  type="button" onclick="seleccionarcampo(7)" id="pintartag7" marcar="nopintar">Seleccionar</button></td>
                    <td marcar="nopintar"> <input type="text" marcar="nopintar" id="input7" onkeyup="pintarelemento(7)" name="input7"></td>
                    <td marcar="nopintar"><div id="datos7" class="datosxpath"></div></div></td>
                </tr>
                <tr marcar="nopintar">
                    <td marcar="nopintar">Hashtags</td>
                    <td marcar="nopintar"><button type="button" onclick="seleccionarcampo(8)" id="pintartag8" marcar="nopintar">Seleccionar</button></td>
                    <td marcar="nopintar"> <input type="text" marcar="nopintar" id="input8" onkeyup="pintarelemento(8)" name="input8"></td>
                    <td marcar="nopintar"><div id="datos8" class="datosxpath"></div></div></td>
                </tr>
            </tbody>

        </table>
        <input marcar="nopintar" type="submit" name="enviar" value="Aceptar">
        <button  marcar="nopintar" id="btncambiarposicion" type="button" onclick="cambiarposicion()">Pasar Abajo</button>

    </form>

    
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/static/scripts/selectorxpathnoticias.js" ></script>
    
<script>
    //Script para la seleccion de reglas
    $('#selregla').change(function(){ 
    var value = $(this).val();
    var seleccion=$(this).find('option:selected');
    $("#input1").val(seleccion.attr("xptitu"))
    $("#input2").val(seleccion.attr("xpres"))
    $("#input3").val(seleccion.attr("xpimg"))
    $("#input4").val(seleccion.attr("xpdesimg"))
    $("#input5").val(seleccion.attr("xpred"))
    $("#input6").val(seleccion.attr("xpfecha"))
    $("#input7").val(seleccion.attr("xparr"))
    $("#input8").val(seleccion.attr("xphas"))

    pintarelemento(1);
    pintarelemento(2);
    pintarelemento(3);
    pintarelemento(4);
    pintarelemento(5);
    pintarelemento(6);
    pintarelemento(7);
    pintarelemento(8);


});
</script>